@keyframes rotation {
	0% {
		transform : rotate(0);
	}
	100% {
		transform : rotate(360deg);
	}
}

@keyframes UnD {
	0% {
		transform : translate(0, 0);
	}
	50% {
		transform : translate(0, 10%);
	}
	100% {
		transform : translate(0, 0);
	}
}

@keyframes pulsation {
	0% {
		background-size : 100%;
	}
	50% {
		background-size : 110%;
	}
	100% {
		background-size : 100%;
	}
}

@keyframes openBody {
	0% {
		opacity : 0;
	}
	100% {
		opacity : 1;
	}
}


@keyframes thanosRevers {
	0% {
		opacity : 0;
	}
	100% {
		opacity : 1;
	}
}

@keyframes thanos {
	0% {
		opacity : 1;
	}
	100% {
		opacity : 0;
	}
}

@keyframes thanosUnD {
	0% {
		transform : scale(1);
	}
	50% {
		transform : scale(1.2);
	}
	100% {
		transform : scale(1);
	}
}
