.settings__btn {
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100px;
  transition: 0.3s ease-in-out;
  width: 50px;
  height: 50px;
}
.settings__btn.active {
  display: none;
}
.settings__btn:hover {
  transform: rotate(180deg);
}

.settings__bg {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.37);
}
.settings__bg.active {
  display: block;
  animation: thanosRevers 0.2s ease-in-out;
}

.settings {
  user-select: none;
  position: relative;
  bottom: 20px;
  right: 20px;
  z-index: 1100;
  color: black;
}

.settings__window {
  overflow-y: visible;
  overflow-x: hidden;
  width: 300px;
  height: 370px;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(214, 93, 177, 0.7);
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  gap: 10px;
}
.settings__window .preference {
  text-align: start;
  font-size: 1.4rem;
}
.settings__window .global__setting {
  display: flex;
  flex-direction: row;
}
.settings__window .global__setting img {
  width: 35px;
  height: 35px;
}
.settings__window::-webkit-scrollbar {
  width: 0.5em;
}
.settings__window::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}
.settings__window.active {
  display: flex;
  flex-direction: column;
  animation: thanosRevers 0.2s ease-in-out;
}

label {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  padding: 5px 15px;
  border-radius: 5px;
  align-items: center;
  gap: 5px;
}

input[type=radio] {
  display: none;
}

input[type=checkbox] {
  display: none;
}

img {
  width: 25px;
  height: 25px;
}

form, .form-API_tags {
  border-radius: 10px;
}
form p, .form-API_tags p {
  padding: 10px 0;
  text-align: start;
  font-size: 1.2rem;
}
form .tags__container, .form-API_tags .tags__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
form .tags__container .setNewTag, .form-API_tags .tags__container .setNewTag {
  display: flex;
  flex-direction: row;
  align-items: start;
}
form .tags__container ul, .form-API_tags .tags__container ul {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  gap: 5px;
}
form .tags__container ul li, .form-API_tags .tags__container ul li {
  position: relative;
  padding: 8px 18px;
  border-radius: 20px;
  list-style: none;
  background: #00a4b6;
}
form .tags__container ul li:hover, .form-API_tags .tags__container ul li:hover {
  filter: brightness(1.2);
}
form .tags__container ul li:hover img, .form-API_tags .tags__container ul li:hover img {
  display: block;
}
form .tags__container ul li img, .form-API_tags .tags__container ul li img {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  z-index: 10;
}
form .tags__container ul li img:hover, .form-API_tags .tags__container ul li img:hover {
  transform: scale(1.1);
}
form .tags__container button, .form-API_tags .tags__container button {
  border: none;
  background: none;
}
form .tags__container button img, .form-API_tags .tags__container button img {
  width: 35px;
  height: auto;
}
form .tags__container button:active, .form-API_tags .tags__container button:active {
  transform: scale(1.1);
}
form .tags__container textarea, .form-API_tags .tags__container textarea {
  font-size: 1.1rem;
  white-space: nowrap;
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  outline: 0;
  background: rgba(255, 255, 255, 0.44);
  resize: none;
  padding: 5px 10px 5px 5px;
}
form .tags__container textarea::placeholder, .form-API_tags .tags__container textarea::placeholder {
  color: rgba(0, 0, 0, 0.61);
  font-size: 1.1rem;
}
form .form__container, .form-API_tags .form__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form .form__container .input__wrapper label, .form-API_tags .form__container .input__wrapper label {
  background: rgba(255, 255, 255, 0.44);
  opacity: 0.5;
  transition: 0.1s;
  text-decoration: line-through;
  border: 2px solid transparent;
}
form .form__container .input__wrapper label:hover, .form-API_tags .form__container .input__wrapper label:hover {
  border-color: inherit;
}
form .form__container .input__wrapper input[type=checkbox]:checked + label, .form-API_tags .form__container .input__wrapper input[type=checkbox]:checked + label {
  background: #00a4b6;
  color: white;
  opacity: 1;
  text-decoration: none;
}
form .form__container .input__wrapper input[type=radio]:checked + label, .form-API_tags .form__container .input__wrapper input[type=radio]:checked + label {
  background: #00a4b6;
  color: white;
  opacity: 1;
  text-decoration: none;
}

@keyframes thanosRevers {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=_settings.css.map */
