
.time {
	transition: 1s ease-in-out;
	&.hidden{
		transform: translate(0 ,-100vh);
	}
	min-height     : 124px;
	margin-bottom  : 10px;
	font-family    : "Roboto Thin", sans-serif;
	font-size      : 100px;
	letter-spacing : -4px;
}

.date {
	transition: 1s ease-in-out;
	&.hidden{
		transform: translate(0 ,-100vh);
	}
	min-height    : 28px;
	font-size     : 24px;
	margin-bottom : 20px;
}

.greeting-container {
	display         : flex;
	flex-wrap       : wrap;
	justify-content : stretch;
	align-items     : center;
	min-height      : 48px;
	width           : 100vw;
	font-size       : 40px;
	@media (max-width : 765px) {
		flex-direction: column;
	}
}

.greeting {
	@media (max-width : 765px) {
		text-align: start;
	}
	transition: 1s ease-in-out;
	&.hidden{
		transform: translate(-100vw ,0);
	}
	flex       : 1;
	padding    : 10px;
	text-align : right;
}

.name {
	transition: 1s ease-in-out;
	&.hidden{
		transform: translate(100vw ,0);
	}
	flex             : 1;
	max-width        : 50%;
	padding          : 10px;
	font-size        : 40px;
	text-align       : left;
	color            : #fff;
	background-color : transparent;
	border           : 0;
	outline          : 0;
}

.name::placeholder {
	color   : #fff;
	opacity : .6;
}
