.greeting__alexeykoh {
	display : none;
}
//
.greeting__alexeykoh.active {
	user-select     : none;
	position        : absolute;
	width           : 100vw;
	height          : 100vh;
	background      : rgba(0, 0, 0, 0.8);
	z-index         : 200;
	display         : flex;
	align-items     : center;
	justify-content : center;
	
	.greet__window {
		background     : aliceblue;
		padding        : 50px;
		z-index        : 250;
		border-radius  : 50px;
		width          : 30%;
		display        : flex;
		flex-direction : column;
		gap            : 50px;
		
		.greet__main {
			display         : flex;
			justify-content : space-around;
			
			.greet__text {
				text-align  : start;
				color       : black;
				width       : 50%;
				font-size   : 1.4rem;
				font-family : "Roboto Thin", sans-serif;
			}
			
			#greet__main-logo {
				align-self : center;
				width      : 100px;
				height     : 100px;
				animation  : UnD 2s infinite;
			}
		}
		
		.ok_btn {
			padding       : 10px;
			border-radius : 10px;
			background    : rgba(0, 0, 0, 0.2);
			font-size     : 1.5rem;
			align-self    : center;
			
			&:hover {
				transform : scale(1.1);
			}
		}
		
		.my__links {
			display         : flex;
			align-items     : center;
			justify-content : space-around;
			
			.my__links-item {
				list-style : none;
				padding    : 10px;
				margin-top : 50px;
				
				.my__links-link {
					display         : flex;
					flex-direction  : column;
					align-items     : center;
					gap             : 2px;
					text-decoration : none;
					color           : black;
					//
					background      : rgba(0, 0, 0, 0.26);
					width           : 100px;
					height          : 60px;
					justify-content : center;
					border-radius   : 50px;
					
					&:hover {
						transform : scale(1.1);
					}
					
					.my__links-ico {
						width  : 25px;
						height : 25px;
					}
					
					.my__links-description {
						font-family : "Roboto Thin", sans-serif;
					}
				}
			}
		}
	}
}

@keyframes UnD {
	0% {
		transform : translate(0, 0);
	}
	50% {
		transform : translate(0, -10%);
	}
	100% {
		transform : translate(0, 0);
	}
}

